@import "tailwindcss";

.nav-link.active {
  color: #f97316; 
  font-weight: bold;
  border-bottom: 2px solid #f97316;
}


@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.animate-slide-up {
  animation: slideUp 0.3s ease-out;
}

.icon-wrapper:hover .rotatable-icon {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

.nav-link.active {
  background-color: #1d2f6f; /* tünd mavi */
  color: white;
  border-bottom: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none; /* IE və Edge */
  scrollbar-width: none; /* Firefox */
}


